@model WebApp.ViewModels.Auth.ChangePasswordVM
@{
    ViewData["Title"] = "Change Password!";
}
<h2>Promjena lozinke</h2>

@if (TempData["Msg"] != null)
{
    <div class="alert alert-success">@TempData["Msg"]</div>
}

<form asp-action="ChangePassword" method="post">
    <div asp-validation-summary="All" class="text-danger mb-2"></div>

    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="OldPassword" class="form-label"></label>
        <input asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmNewPassword" class="form-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-success" type="submit">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
